<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>

  <body>
    <script src="../js/effects/fadeOnLoad.js"></script>
    <!-- nav -->
    <%- include('partials/nav') %>
    <!-- content -->

    <%- content %>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- scripts -->
    <%- include('partials/scripts') %>
  </body>
</html>
